@use 'styles/abstracts/variables' as *;
@use 'styles/abstracts/mixin' as *;

.header {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background: $color-white;
  width: 100%;
  border-bottom: 0.0625rem solid $border-color;

  @include respond(phone) {
    align-items: center;
  }

  &__left {
    align-items: center;
    display: flex;
  }

  &__brand {
    color: $color-primary;
    font-size: 2.25rem;
    font-weight: 700;
    margin-left: 0.875rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__right {
    margin-left: 0.2rem;
    align-items: center;
    display: flex;
    gap: 2rem;

    .search-box {
      display: flex;
      width: 25.375rem;
      @include respond(tab-land) {
        width: 15.375rem;
        position: absolute;
        top: 9rem;
        right: 3rem;
      }
      @include respond(phone) {
        right: 1rem;
        width: 10.375rem;
        top: 11rem;
      }
    }
    
    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
    }
  }

  &__input {
    border-radius: 5px;
    width: 100%;
    height: 2.25rem;
    margin-right: 1.0625rem;
    transition: width 0.5s ease-in-out;
    border: 0.1875rem solid $color-border-active;

    &:focus {
      outline: none;
    }

    width: 100%;
  }

  &__logo svg {
    display: block;
    height: 2.125rem;
    width: 2.125rem;
  }
}
